
  <div class="container">
    <div class="row mx-auto w-50 mt-4">
      <div class="col">
        <div class="profile-all">
          <h2>User   info</h2>
          <%= form_for(@user) do |f| %>
          <div class="profile-name p-2">
            <div class="profile-name1">Name</div>
            <div class="profile-name2"><%= f.text_field :name %></div>
          </div>
            <div class="profile-image p-2">
              <div class="profile-image1">Image</div>
              <div class="profile-image2"><%= f.attachment_field :profile_image %></div>
            </div>
              <div class="profile-introduction p-2">
                <div class="profile-introduction1">introduction</div>
                <div class="profile-introduction2"><%= f.text_area :introduction %></div>
              </div>
                <div class="profile_submitt p-2">
                  <div class="profile-submit1"><%= f.submit 'Update User', class: "btn btn-secondary col-sm-4 sumit-title" %></div>
                </div>
          <% end %>
        </div>
        <div class="profile-item text-center" style="padding:60px;">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </div>
