<div class="error-message" style="color:green">
  <% if @book.errors.any? %>
  <%= @book.errors.count %> Error occurred
    <% @book.errors.full_messages.each do |message| %><br/>
      <%= message %>
    <% end %>
  <% end %>
</div>
<div class="container p-4">
  <div class="row  w-50 mx-auto">
    <div class="col">
      <h1>Editing Book</h1>
        <%= form_with model:@book, local: true do |f| %>
          <div class="book-edit-title pt-2">Title</div>
          <div class="book-edit-title2 pb-2"><%= f.text_field :title %></div>
          <div class="book-edit-body pt-2">Opinion</div>
          <div class="book-edit-body1 pb-2"><%= f.text_field :body %></div>
          <div class="book-edit-submit pt-4"><%= f.submit 'Update book',class: "submit-edit"%></div>
        <% end %>
          <div class="edit-link m-2">
            <div class="edit-show d-inline text-black">
              <%= link_to  book_path(@book.id),method: :get do %>
                <p class="d-inline pr-1 border-right border-dark">show</p>
              <% end %>
            </div>
            <div class="edit-back d-inline">
              <%= link_to  books_path,method: :get do %>
                <p class="d-inline pl-1">back</p>
              <% end %>
            </div>
          </div>
            <div class="edit-item text-center w-50 mx-auto p-4">
              <p>CopyRight Infratop.inc</p>
            </div>
    </div>
  </div>
</div>
