<div class="container">
    <div class="row mt-4">
      <div class="col-3">
        <div class="col">
          <h1>User info</h1>
            <table class="table">
              <thead>
                <tr>
                  <th><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></th>
                  <th></th>
                </tr>
              </thead>
                <tbody>
                  <tr>
                    <td>name</td>
                    <td><%= @user.name %></td>
                  </tr>
                    <tr>
                      <td>introduction</td>
                      <td><%= @user.introduction %></td>
                    </tr>
                </tbody>
            </table>
          </div>
            <div class="col">
              <div class="profile-edit text-center">
                <%= link_to edit_user_path(@user), method: :get do %>
                    <p class="border border-dark rounded" style="color:black;"><i class="far fa-user"></i></p>
                <% end %>
              </div>
            </div>
              <div class="col">
                <h1>New book</h1>
                  <div class="user-show-form">
                    <%= form_for (@book_new) do |f| %>
                        <div class="show-form-title">Title</div>
                        <div class="show-form-title2"><%= f.text_field :title %></div>
                        <div class="show-form-opinion">Opinion</div>
                        <div class="show-form-opinion2"><%= f.text_area :body %></div>
                        <div class="show-form-submit"><%= f.submit 'Create Book', class: "submit-title"%></div>
                    <% end %>
                  </div>
              </div>
      </div>
              <div class="col-8">
                <h1>Book detail</h1>
                  <table class="table">
                    <thead>
                      <tr>
                        <td class="w-20 text-center" style="width:20%;">
                          <div class="table-title" style="distroy:block;">
                            <div class="table-img"><%= attachment_image_tag @user, :profile_image, :fill, 100, 100,style: "width:50%;",fallback: "no_image.jpg" %></div>
                            <div class="table-name"><%= link_to user_path(@user.id), method: :get do %>
                              <%= @user.name %>
                            <% end %>
                            </div>
                          </div>
                        </td>
                        <td class="w-20 text-center">
                          <%= link_to book_path(@book.id), method: :get do %>
                            <%= @user.name %>
                          <% end %>
                        </td>
                        <td class="w-20 text-center"><%= @book.body %></td>
                        <% if @user == current_user %>
                        <div class="hidden">
                          <td class="w-20 text-center"><%= link_to 'Edit',edit_book_path %></td>
                          <td class="w-20 text-center"><%= link_to "Delete", books_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
                        </div>
                        <% end %>
                      </tr>
                    </thead>
                  </table>
              </div>
    </div>
  </div>


