  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
   <div class="container">
     <div class="row">
       <div class="col w-50 mx-auto mt-4">
          <h2>Sign up</h2>
            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class: "actions-title" %>
            </div>
          <% end %>
          <%= render "users/shared/links" %>
          <div class="text-center w-75 mx-auto pt-4 mt-4">
            <p>CopyRight Infratop.inc</p>
          </div>
      </div>
    </div>
  </div>
